{% extends 'base.html.twig' %}

{% block title %}Our partner{% endblock %}

{% block body %}
<h1 class="text-center">Our partner</h1>
    <a href="https://www.rockstargames.com/"><img style="width: 200px; height: 200px;" src="images/Rockstar.png" alt="Rockstar games"> </a>
    <a href="https://www.ubisoft.com/en-us/"><img style="width: 200px; height: 200px;" src="images/ubisoft.png" alt="ubisoft"> </a>

{% endblock %}
