{% extends 'base.html.twig' %}

{% block title %} gestion jouets {% endblock %}


{% block body %}
    <h1> <center> GESTION JOUETS </center></h1>
    <a type="button" class="btn btn-primary" href="#">ajouter jouet</a>
    <a type="button" class="btn btn-primary" href="#">afficher jouet</a>
{% endblock %}